
  .container{
    background-color: #e0e0de; margin-bottom: 2%;
    border-radius: 10px;
    
  }
  .fill{
    height: 100%;
    width: 17%;
    background-color: #f51818;
    border-radius: 10px;
    text-align: right;
    margin-left: -1.8%;
  }
  .label{
    padding: 5px;
      color: white;
      font-weight: 'bold';
  }



